{% extends 'base.html.twig' %}

{% block title %}All categories{% endblock %}

{% block body %}
    <h1>Toutes les catégories :</h1>
    <a href="{{ path('category_new') }}">Ajouter une nouvelle catégorie</a><br><br><br>
    {% for category in categories %}
        <div>
            <h3>{{ loop.index }}. Catégorie : {{ category.name }}</h3>
            {# Lien vers la fiche de la catégorie : #}
            <a href="{{ path("category_show", { categoryName: category.name }) }}">Voir la fiche</a>
        </div><br>
    {% endfor %}
{% endblock %}